In [72]:
import collections

Person = collections.namedtuple('Person', ('age', 'name'))
Greg = Person(14, 'Greg')
John = Person(12, 'John')
Andy = Person(11, 'Andy')
Jim = Person(13, 'Jim')
Phil = Person(12, 'Phil')
Bob = Person(13, 'Bob')
Chip = Person(13, 'Chip')
Tim = Person(14, 'Tim')
people = [Greg, John, Andy, Jim, Phil, Bob, Chip, Tim]

In [73]:
def group_by_age(people: list) -> None:
    age_to_count = collections.Counter((person.age for person in people))
    age_to_offset, offset = {}, 0
    
    for age, count in age_to_count.items():
        age_to_offset[age] = offset
        offset += count
    
    print("This is from age_to_count: ", age_to_count)
    print("This is from age_to_offset: ", age_to_offset)
    print('\n')
                        
    while age_to_offset:
        
        from_age = next(iter(age_to_offset))
        print("This is from age: ", from_age)
        
        from_idx = age_to_offset[from_age]
        print("This is from_idx: ", from_idx)
        
        to_age = people[from_idx].age
        print("This is to_age: ", to_age)
        
        to_idx = age_to_offset[people[from_idx].age]
        print("This is to_idx: ", to_idx)
        
        people[from_idx], people[to_idx] = people[to_idx], people[from_idx]
        age_to_count[to_age] -= 1
        
        print("This is from age_to_count: ", age_to_count)
        
        if age_to_count[to_age]:
            age_to_offset[to_age] = to_idx+1
        else:
            del age_to_offset[to_age]
        print("This is from age_to_offset: ", age_to_offset)
        
        print(people)
        
        print('\n')
        #import sys; sys.exit()

In [74]:
group_by_age(people)
people

This is from age_to_count:  Counter({13: 3, 14: 2, 12: 2, 11: 1})
This is from age_to_offset:  {14: 0, 12: 2, 11: 4, 13: 5}


This is from age:  14
This is from_idx:  0
This is to_age:  14
This is to_idx:  0
This is from age_to_count:  Counter({13: 3, 12: 2, 14: 1, 11: 1})
HERE
This is from age_to_offset:  {14: 1, 12: 2, 11: 4, 13: 5}
[Person(age=14, name='Greg'), Person(age=12, name='John'), Person(age=11, name='Andy'), Person(age=13, name='Jim'), Person(age=12, name='Phil'), Person(age=13, name='Bob'), Person(age=13, name='Chip'), Person(age=14, name='Tim')]


This is from age:  14
This is from_idx:  1
This is to_age:  12
This is to_idx:  2
This is from age_to_count:  Counter({13: 3, 14: 1, 12: 1, 11: 1})
HERE
This is from age_to_offset:  {14: 1, 12: 3, 11: 4, 13: 5}
[Person(age=14, name='Greg'), Person(age=11, name='Andy'), Person(age=12, name='John'), Person(age=13, name='Jim'), Person(age=12, name='Phil'), Person(age=13, name='Bob'), Person(age=13, name='Chip'), Person(age=14, name='Tim')]


This is from age:  14
This is from_idx:  1
This is to_age:  11
This is to_idx:  4
This is from age_to_count:  Counter({13: 3, 14: 1, 12: 1, 11: 0})
HERE2
This is from age_to_offset:  {14: 1, 12: 3, 13: 5}
[Person(age=14, name='Greg'), Person(age=12, name='Phil'), Person(age=12, name='John'), Person(age=13, name='Jim'), Person(age=11, name='Andy'), Person(age=13, name='Bob'), Person(age=13, name='Chip'), Person(age=14, name='Tim')]


This is from age:  14
This is from_idx:  1
This is to_age:  12
This is to_idx:  3
This is from age_to_count:  Counter({13: 3, 14: 1, 12: 0, 11: 0})
HERE2
This is from age_to_offset:  {14: 1, 13: 5}
[Person(age=14, name='Greg'), Person(age=13, name='Jim'), Person(age=12, name='John'), Person(age=12, name='Phil'), Person(age=11, name='Andy'), Person(age=13, name='Bob'), Person(age=13, name='Chip'), Person(age=14, name='Tim')]


This is from age:  14
This is from_idx:  1
This is to_age:  13
This is to_idx:  5
This is from age_to_count:  Counter({13: 2, 14: 1, 12: 0, 11: 0})
HERE
This is from age_to_offset:  {14: 1, 13: 6}
[Person(age=14, name='Greg'), Person(age=13, name='Bob'), Person(age=12, name='John'), Person(age=12, name='Phil'), Person(age=11, name='Andy'), Person(age=13, name='Jim'), Person(age=13, name='Chip'), Person(age=14, name='Tim')]


This is from age:  14
This is from_idx:  1
This is to_age:  13
This is to_idx:  6
This is from age_to_count:  Counter({14: 1, 13: 1, 12: 0, 11: 0})
HERE
This is from age_to_offset:  {14: 1, 13: 7}
[Person(age=14, name='Greg'), Person(age=13, name='Chip'), Person(age=12, name='John'), Person(age=12, name='Phil'), Person(age=11, name='Andy'), Person(age=13, name='Jim'), Person(age=13, name='Bob'), Person(age=14, name='Tim')]


This is from age:  14
This is from_idx:  1
This is to_age:  13
This is to_idx:  7
This is from age_to_count:  Counter({14: 1, 12: 0, 11: 0, 13: 0})
HERE2
This is from age_to_offset:  {14: 1}
[Person(age=14, name='Greg'), Person(age=14, name='Tim'), Person(age=12, name='John'), Person(age=12, name='Phil'), Person(age=11, name='Andy'), Person(age=13, name='Jim'), Person(age=13, name='Bob'), Person(age=13, name='Chip')]


This is from age:  14
This is from_idx:  1
This is to_age:  14
This is to_idx:  1
This is from age_to_count:  Counter({14: 0, 12: 0, 11: 0, 13: 0})
HERE2
This is from age_to_offset:  {}
[Person(age=14, name='Greg'), Person(age=14, name='Tim'), Person(age=12, name='John'), Person(age=12, name='Phil'), Person(age=11, name='Andy'), Person(age=13, name='Jim'), Person(age=13, name='Bob'), Person(age=13, name='Chip')]

[Person(age=14, name='Greg'),
 Person(age=14, name='Tim'),
 Person(age=12, name='John'),
 Person(age=12, name='Phil'),
 Person(age=11, name='Andy'),
 Person(age=13, name='Jim'),
 Person(age=13, name='Bob'),
 Person(age=13, name='Chip')]